
@{
    ViewBag.Title = "Thực Đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thực Đơn</h1>
<div class="">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Them">
                        <p class="fa fa-plus-circle">Thêm </p>
                   
                    </button>
                    <button type="button" class="btn btn-primary">
                        <p class="fa fa-bar-chart-o  ">Sắp Xếp Thứ Tự </p>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <p class="fa fa-refresh    ">Làm Mới </p>
                    </button>
                   <!-- Modal -->
                    <div class="modal fade" id="Them" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title"><b>Thêm món</b></h3>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="name">Tên món(*):</label>
                                            <input type="text" class="form-control" id="usr">
                                        </div>
                                        <div class="form-group">
                                            <label for="descreption">Mã món(*):</label>
                                            <input type="text" class="form-control" id="pwd">
                                        </div>
                                        <div class="form-group">
                                            <label for="descreption">Loại:</label>
                                            <select class="form-control">
                                                <option selected>Thức ăn</option>
                                                <option>Thức uống</option>                                               
                                            </select>
                                            </div>
                                          <div class="form-group">
                                                <label for="descreption">Đơn vị tính(*):</label>
                                                <select class="form-control">
                                                    <option selected>miếng</option>
                                                    <option>lon</option>
                                                </select>
                                            </div>
                                            <label for="descreption">Gía bán:</label>
                                            <div class="form-group input-group">
                                                
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">VNĐ</span>
                                            </div>
                                        
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><p class="glyphicon glyphicon-floppy-disk"></p> Lưu</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><p class="glyphicon glyphicon-remove-sign"></p> Hủy bỏ</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                </div>
                                
                            </div>

                        </div>
                    </div>


                           

                    
                     
                        </div>
                    </div>
                </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-default">
                        <p class="fa fa-upload  ">Chọn Từ Thư Viện </p>
                    </button>
                    <button type="button" class="btn btn-default">
                        <p class="fa fa-chevron-right    ">Import Excel </p>
                    </button>
                    <button type="button" class="btn btn-default">
                        <p class="fa fa-chevron-left    ">Export Excel </p>
                    </button>
                    <button type="button" class="btn btn-default">
                        <p class="fa  fa-dollar      ">Cập Nhật Giá </p>
                    </button>
                </div>
            </div>
        </div>
    </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Loại món</th>
                                    <th style="text-align:center">Mã món</th>
                                    <th style="text-align:center">Tên món</th>
                                    <th style="text-align:center">Đơn vị tính</th>
                                    <th style="text-align:center">Gía bán</th>
                                    <th style="text-align:center">Hoạt Động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX">
                                    <td style="text-align:center">Trident</td>
                                    <td style="text-align:center">Internet Explorer 4.0</td>
                                    <td style="text-align:center">Win 95+</td>
                                    <td style="text-align:center">4</td>
                                    <td style="text-align:center">X</td>
                                    <td style="text-align:center">
                                       
                                        <button type="button" class="btn btn-primary" title="Edit">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary" title="Delete">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
        </td>
                                </tr>                                                                                                                                            
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                        
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
</div>


  

