
@{
    ViewBag.Title = "Nhà Cung Cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nhà Cung cẤP</h2>

<div class="">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Them">
                        <p class="glyphicon glyphicon-plus"></p> Thêm nhà cung cấp
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="Them" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title"><b>Thêm Nhân Viên</b></h3>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="name">Mã nhà cung cấp(*):</label>
                                            <input type="text" class="form-control" id="usr">
                                        </div>
                                        <div class="form-group">
                                            <label for="descreption">Tên nhà cung cấp(*):</label>
                                            <input type="text" class="form-control" id="pwd">
                                        </div>
                                        <div class="form-group">
                                            <label for="descreption">Số điện thoại(*):</label>
                                            <input type="text" class="form-control" id="pwd">
                                        </div>
                                        <div class="form-group">
                                            <label for="descreption">Địa chỉ(*):</label>
                                            <input type="text" class="form-control" id="pwd">
                                        </div>
                                       
                                        <div class="form-group">
                                            <label for="descreption">Hình thức:</label>
                                            <select class="form-control">
                                                <option selected>Cá nhân</option>
                                                <option>Tổ chức</option>
                                            </select>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><p class="glyphicon glyphicon-floppy-disk"></p> Lưu</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><p class="glyphicon glyphicon-remove-sign"></p> Hủy bỏ</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="table-responsive">
                <table class="table table-striped" id="dataTables-example">
                    <thead>
                        <tr>

                            <th style="text-align:center">Mã nhà cung cấp</th>
                            <th style="text-align:center">Tên nhà cung cấp</th>
                            <th style="text-align:center">SĐT</th>
                            <th style="text-align:center">Địa Chỉ</th>
                            <th style="text-align:center">Hình Thức</th>
                            <th style="text-align:center">Hoạt động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td style="text-align:center">NCC01</td>
                            <td style="text-align:center">Hồ Ngọc Phú</td>
                            <td style="text-align:center">0123</td>
                            <td style="text-align:center">123 Trường Chinh</td>
                            <td style="text-align:center">
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>Cá nhân</option>
                                        <option>Tổ chức</option>
                                    </select>
                                </div>
                            </td>
                           
                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary" title="Detail">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Edit">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Delete">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>

                            </td>
                        </tr>

                        <tr>

                            <td style="text-align:center">NCC02</td>
                            <td style="text-align:center">CTy Gà rán</td>
                            <td style="text-align:center">0123</td>
                            <td style="text-align:center">123 Cộng Hoà</td>
                            <td style="text-align:center">
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>Cá nhân</option>
                                        <option>Tổ chức</option>
                                    </select>
                                </div>
                            </td>

                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary" title="Detail">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Edit">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Delete">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>

                            </td>
                        </tr>
                        <tr>

                            <td style="text-align:center">NCC03</td>
                            <td style="text-align:center">CTy nước ngọt</td>
                            <td style="text-align:center">0123</td>
                            <td style="text-align:center">456 Trường Chinh</td>
                            <td style="text-align:center">
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>Cá nhân</option>
                                        <option>Tổ chức</option>
                                    </select>
                                </div>
                            </td>

                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary" title="Detail">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Edit">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Delete">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>

                            </td>
                        </tr>
                        <tr>

                            <td style="text-align:center">NCC04</td>
                            <td style="text-align:center">MIB</td>
                            <td style="text-align:center">0123</td>
                            <td style="text-align:center">123 Lê Văn Sỹ</td>
                            <td style="text-align:center">
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>Cá nhân</option>
                                        <option>Tổ chức</option>
                                    </select>
                                </div>
                            </td>

                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary" title="Detail">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Edit">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Delete">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>