
@{
    ViewBag.Title = "Khách Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Khách Hàng</h2>

<div class="">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Them">
                        <p class="glyphicon glyphicon-plus"></p> Thêm khách hàng
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="Them" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title"><b>Thêm khách hàng</b></h3>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="name">Mã khách hàng(*):</label>
                                            <input type="text" class="form-control" id="usr" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="descreption">Tên khách hàng(*):</label>
                                            <input type="text" class="form-control" id="pwd">
                                        </div>
                                        <div class="form-group">
                                            <label for="descreption">Giơí tính:</label>
                                            <select class="form-control">
                                                <option selected>Nam</option>
                                                <option>Nữ</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="descreption">Email(*):</label>
                                            <input type="text" class="form-control" id="pwd">
                                        </div>
                                        <div class="form-group">
                                            <label for="descreption">Địa chỉ:</label>
                                            <input type="text" class="form-control" id="pwd">
                                        </div>
                                        
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><p class="glyphicon glyphicon-floppy-disk"></p> Lưu</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><p class="glyphicon glyphicon-remove-sign"></p> Hủy bỏ</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="table-responsive">
                <table class="table table-striped" id="dataTables-example">
                    <thead>
                        <tr>

                            <th style="text-align:center">Mã khách hàng</th>
                            <th style="text-align:center">Tên khách hàng</th>
                            <th style="text-align:center">SĐT</th>
                            <th style="text-align:center">Giơí tính</th>
                            <th style="text-align:center">Email</th>
                            <th style="text-align:center">Hoạt động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td style="text-align:center">KH01</td>
                            <td style="text-align:center">Hồ Ngọc Phú</td>
                            <td style="text-align:center">0123</td>
                            <td style="text-align:center">
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>Nam</option>
                                        <option>Nữ</option>
                                    </select>
                                </div>
                            </td>
                            <td style="text-align:center">ngocphuho@gmail.com </td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary" title="Detail">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Edit">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Delete">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>

                            </td>
                        </tr>

                        <tr>

                            <td style="text-align:center">KH02</td>
                            <td style="text-align:center">Đặng Thanh Long</td>
                            <td style="text-align:center">0123</td>
                            <td style="text-align:center">
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>Nam</option>
                                        <option>Nữ</option>
                                    </select>
                                </div>
                            </td>
                            <td style="text-align:center">dangthanhlong@gmail.com </td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary" title="Detail">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Edit">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Delete">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>

                            </td>
                        </tr>
                        <tr>

                            <td style="text-align:center">KH03</td>
                            <td style="text-align:center">Nguyễn Võ Thành Long</td>
                            <td style="text-align:center">0123</td>
                            <td style="text-align:center">
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>Nam</option>
                                        <option>Nữ</option>
                                    </select>
                                </div>
                            </td>
                            <td style="text-align:center">nguyenvothanhlong@gmail.com</td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary" title="Detail">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Edit">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Delete">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>

                            </td>
                        </tr>
                        <tr>

                            <td style="text-align:center">KH04</td>
                            <td style="text-align:center">Nguyên Tài Thành Long</td>
                            <td style="text-align:center">0123</td>
                            <td style="text-align:center">
                                <div class="form-group">

                                    <select class="form-control">
                                        <option>Nam</option>
                                        <option>Nữ</option>
                                    </select>
                                </div>
                            </td>
                            <td style="text-align:center">longnguyen@gmail.com </td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary" title="Detail">
                                    <i class="glyphicon glyphicon-th-list"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Edit">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button type="button" class="btn btn-primary" title="Delete">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>